
.todo{
  font-family: Roboto;

 display: grid;
 
  grid-template-columns: 1fr 1fr; /* División en 2 columnas iguales */
  min-height: 100vh;
  max-width: 1440px;
  margin: 0 auto;
  border-width: 15px;
  
}


.fondo{
  background-image: url(/src/iconlog.png);
  background-size: cover;
}

.App-contenedor{
 margin-top: 1%;

 display: flex;
 flex-direction: column;
 align-items: center;


  }


.App-titulosimg{

border-radius: 15px;
background-size: cover;
background-position: center;
background-repeat: no-repeat; 
display: flex;
flex-direction: column;
align-items:center;
justify-content: center;
width: 100%;
height:500px ;
padding: 10px;

}




.App-inputs{
  background-color: #ffffff51;
  display: flex;
  flex-direction: column;
  align-items:center;
  height: 250px;
  width:480px ;
  
  margin-top: -15px;
  
  justify-content: center;
  
  
  }
  .input{
    border-radius:8px;
    margin: 1x 0;
    width: 75%;
    height: 35px;


  }

  .mainlabels{
    margin-top: 3px;
    
   
    
    color: black;
    font-weight: 300;  /* Light */
    font-size: 35px;
  }

 

  .sizelabel{
    font-size: 25px;
  }

  .icono{
    margin-top: -35px;
   
 


  }
.App-link {
  color: #61dafb;
}
.form{
  
  justify-content: left;
  align-items: left;
  
  margin-top: 5px;
  flex-direction: column;
  display: flex;
  width:100%;
  
}

label{
margin-bottom: 10px;
align-self: flex-start;
padding:5px;


}


button{
background-color: #FE8660;
border-radius: 5px;
margin-top: 20px;
font-size: medium;
width: 350px ;
height: 50px ;
border-width: 3px;

}
button:hover{
  background-color: #fda58a;
  
}


@media (max-width:375px) {

  .App{
    padding: 20px;
  }
  .todo{
    display: grid;
 
  grid-template-rows:  1fr 1fr; /* División en 2 columnas iguales */
  min-height: 100vh;
  max-width: 1440px;
  margin: 0 auto;
  border-width: 15px;
 
 border-radius: 15px;
 
  
 align-items: center;
  box-sizing: border-box;

  
  margin: 0 auto; /* Centra horizontalmente */
  /* O también puedes escribirlo como: */
  margin-left: auto;
  margin-right: auto;
    
  }
.App-inputs{
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.300);
  box-sizing: border-box;
  justify-items: center;
}
  .input{
    width: 100%;
    height: 25px;
    
  }
  .App-titulosimg{
    justify-content: center;     /* Alinea horizontalmente */
    justify-content: flex-start; /* Inicio */
    justify-content: flex-end;   /* Final */
    border-radius: 15px;
    background-size: cover;
    background-repeat: no-repeat; 
    display: flex;
    flex-direction: column;
    align-items:center;
   
  
    
    width: 100% ;
    height:100% ;
    
    }


  .mainlabels{

    color: #ffffff;
    align-items: center;
    width: 100%;
    justify-content: center;
    display: flex;
    text-align: center;
  }
  .App-contenedor{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

  }
}

