.App {
  text-align: center;
   
}

.todo{
  
  display: flex;
  flex-direction: column;
  
  align-items: center;
  min-height: 100vh; /* Esto asegura que tome toda la altura de la ventana */
  padding: 20px;
  box-sizing: border-box;
  
}



.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}


.App-contenedor{
 margin-top: 5%;

  }


.App-titulosimg{
background-image: url(C:\Users\PC\Downloads\8a9f2adb9b92e59c0d47bf7733a08f57.jpeg);
border-radius: 25px;
background-size: contain;
background-repeat: no-repeat; 
display: flex;
flex-direction: column;
align-items:center;

width: 400px ;
height:500px ;

}



.App-inputs{
  background-color: #ffffff51;
  display: flex;
  flex-direction: column;
  align-items:center;
  height: 200px;
  width:300px ;
  
  margin-top: 10px;
  border-radius: 20px;
  justify-content: center;
  
  
  }
  .input{
    border-radius: 25px;


  }

  .mainlabelwelc{
    margin-top: 3px;
    margin-bottom: 10px;
    font-size: 30pt;
    color: white;
  }

 
 .todo {
    font-family:Arial, Helvetica, sans-serif;
   
  }

  .sizelabel{
    font-size: 25px;
  }

  .icono{
    margin-top: 3px;

  }
.App-link {
  color: #61dafb;
}
.form{
  
  justify-content: center;
  align-items: center;
  
  margin-top: 5px;
  flex-direction: column;
  display: flex;
  
}

label{
margin-bottom: 10px;

}


button{
background-color: rgb(5, 201, 5);
border-radius: 5px;
margin-top: 20px;
font-size: medium;
width: 100px ;
height: 35px ;
border-width: 3px;

}
button:hover{
  background-color: #4ff95a; ;
  
}


