.App {
  text-align: center;
   
}

.todo{
  
  display: flex;
  flex-direction: column;
  
  
  min-height: 100vh;
  /* Esto asegura que tome toda la altura de la ventana */
  padding: 20px;
  align-items: center;
  
  box-sizing: border-box;
  font-family: 'MuseoModerno', cursive;
    
  width: 100%;
  /* O el ancho máximo que prefieras */
  
}





.App-contenedor{
 margin-top: 1%;

  }


.App-titulosimg{
background-image: url(C:\Users\PC\Downloads\8a9f2adb9b92e59c0d47bf7733a08f57.jpeg);
border-radius: 15px;
background-size: cover;
background-position: center;
background-repeat: no-repeat; 
display: flex;
flex-direction: column;
align-items:center;

width: 100%;
height:500px ;

}



.App-inputs{
  background-color: #ffffff51;
  display: flex;
  flex-direction: column;
  align-items:center;
  height: 200px;
  width:300px ;
  
  margin-top: -15px;
  
  justify-content: center;
  
  
  }
  .input{
    border-radius:15px;
    margin: 1x 0;


  }

  .mainlabels{
    margin-top: 3px;
    
    font-size: 24pt;
    color: white;
    font-weight: 300;  /* Light */
    font-size: 35px;
  }

 

  .sizelabel{
    font-size: 25px;
  }

  .icono{
    margin-top: -35px;
 


  }
.App-link {
  color: #61dafb;
}
.form{
  
  justify-content: center;
  align-items: center;
  
  margin-top: 5px;
  flex-direction: column;
  display: flex;
  
}

label{
margin-bottom: 10px;

}


button{
background-color: rgb(5, 201, 5);
border-radius: 5px;
margin-top: 20px;
font-size: medium;
width: 100px ;
height: 35px ;
border-width: 3px;

}
button:hover{
  background-color: #4ff95a; ;
  
}
@media (max-width:320px) {

  
  .todo{
    display: flex;
        flex-direction: column;
  
  min-height: 100vh;
  /* Esto asegura que tome toda la altura de la ventana */
 width: 100% ;
 padding: 5px;
 
  
 align-items: center;
  box-sizing: border-box;
  font-family: 'MuseoModerno', cursive;
    
  }
.App-inputs{
  width: 100%;
  background-color: #4ff95a;
  box-sizing: border-box;
}
  .input{
    width: 100% ;
    
  }
  .App-titulosimg{
    background-image: url(C:\Users\PC\Downloads\8a9f2adb9b92e59c0d47bf7733a08f57.jpeg);
    border-radius: 15px;
    background-size: contain;
    background-repeat: no-repeat; 
    display: flex;
    flex-direction: column;
    align-items:baseline;
    align-content: baseline;
    
    width: 400px ;
    height:500px ;
    
    }

  .mainlabels{

    color: #4ff95a;
    align-items: center;
  }
  .App-contenedor{
    display: flex;
    flex-direction: column;
    align-items: center;

  }
}

